<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content"ie=edge">
	<title>{{ title }}</title>
	{% endblock %}
</head>
<body>
	<div id="title">{{ title }}</div>
	<br>
	<div id="content">{{ abstract }}</div>
	<br>
	<form action="" method="POST">
		<button class="btn-lg btn btn-block text-uppercase">Follow</button>
	</form>
	<br>
	<div id="footer">
		{% block footer %}
		&copy; Copyright 20XX
		{% endblock %}
	</div>
</body>
</html>
