<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content"ie=edge">
	<title>{% block title %}{% endblock %} Politics Tracker		</title>
	{% endblock %}
</head>
<body>
	<div id="nav">{% block nav %}
		<a href="/index.html"><span class="button">Home</span></a>
		<a href="/login.py"><span class="button">Login</span></a>
	{% endblock %}</div>
	<div id="header"><img src='https://placehold.it/1100x300?text=Slideshow' class="img-fluid" width="100% \9" alt=''/></div>
	<div id="footer">
		{% block footer %}
		&copy; Copyright 2###
		{% endblock %}
	</div>
</body>
</html>
