<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content"ie=edge">
	<title>{% block title %}Politics Tracker{% endblock %}</title>
	{% endblock %}
	<link rel="stylesheet" href="/style.css" />
</head>
<body>
	<div id="content">{% block content  %}
		<div id="nav">
			<div class="col-sm nav-align">
				<a href="/"><span class="button">Home</span></a>
				<a href="/login"><span class="button">Login</span></a>
			</div>
		</div>
		<div id="header"><img src='https://placehold.it/1200x400?text=Slideshow' class="img-fluid" width="100% \9" alt=''/></div>
		<table style="width:100%" class="row">
			<thead>
			<tr>
				<th>Bills</th>
				<th>Information</th>
				<th>Date</th>
			</tr>
			</thead>
			<% for item in data %>
			<tr>
				<td>{{item[0]}}</td>
				<td>{{item[1]}}</td>
				<td>{{item[2]}}</td>
			</tr>
			{% endfor %}
		</table>

	{% endblock %}</div>
	<div id="footer">
	{% block footer %}
		&copy; Copyright 2###
	{% endblock %}
	</div>
</body>
</html>
